<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fanlisky.api.mapper.QrRouteMapper">

    <select id="getHandledUrls" resultType="java.lang.String">
        SELECT REQUEST_URL FROM qr_route
    </select>
</mapper>
